#supabase
SUPABASE_URL = "SUPABASE_URL"
SUPABASE_PUBLISHABLE_KEY = "SUPABASE_PUBLISHABLE_KEY"

#app
PORT = 1111
FRASE_01 = ""
FRASE_02 = ""
FRASE_03 = ""
FRASE_04 = ""
FRASE_05 = ""

#jetimob
JETIMOB_URL_LEADS = "https://api.jetimob.com/leads/"
JETIMOB_PUBLIC_KEY = ""
JETIMOB_PRIVATE_KEY = ""

#chatpro
CHATPRO_INSTANCE_ID = ""
CHATPRO_INSTANCE_TOKEN = ""
CHATPRO_RETRY_MAX = 5
CHATPRO_RETRY_429_MS = 30_000